ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    background-color: yellow;
}

ul li:hover{
    cursor: pointer;
    color: orange;
}